<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         version="5.0">
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.ilp.store.ProductServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AppServlet</servlet-name>
    <servlet-class>com.ilp.store.AppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
</web-app>
